Repository pushkar8723/no-frills-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fixed Toast doc
  src/components/Toast/Toast.tsx
  src/components/Toast/ToastStory.tsx
Due: eslint --fix, prettier --write

Fixed Popover test
  test/components/Popover/Popover.test.tsx
Due: eslint --fix, prettier --write

Fix popover tests to use client height for testing
  test/components/Popover/Popover.test.tsx
Due: eslint --fix, prettier --write

0.0.14-rc.5
  package.json
Due: prettier --write

Created doc for react-window integration
  stories/0-Get Started/6-With Formik.mdx
  stories/0-Get Started/7-With React Window.mdx
  stories/0-Get Started/WithFormik.stories.tsx
Due: eslint --fix, prettier --write

Minor enhancements (#52)
  package.json
  src/components/Input/Dropdown.tsx
  src/components/Input/DropdownStory.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuItemStory.tsx
  src/components/Menu/MenuStory.tsx
  src/components/Popover/Popover.tsx
  src/components/Toast/Toast.tsx
  stories/0-Get Started/6-With Formik.mdx
  stories/0-Get Started/7-With React Window.mdx
  stories/0-Get Started/WithFormik.stories.tsx
  stories/1-Declarative Components/Dropdown/Dropdown.stories.tsx
  stories/1-Declarative Components/Menu/Menu.mdx
  stories/1-Declarative Components/Menu/Menu.stories.tsx
  stories/1-Declarative Components/Menu/MenuItem.stories.tsx
  stories/1-Declarative Components/Select/Select.stories.tsx
  stories/1-Declarative Components/Stepper/Step.stories.tsx
  stories/1-Declarative Components/Stepper/Stepper.mdx
  stories/1-Declarative Components/Tabs/Tab.stories.tsx
  stories/1-Declarative Components/Tabs/Tabs.mdx
  stories/1-Declarative Components/TextArea/TextArea.stories.tsx
  test/components/Popover/Popover.test.tsx
Due: eslint --fix, prettier --write

Fix stepper demo
  stories/1-Declarative Components/Stepper/Stepper.stories.tsx
Due: eslint --fix, prettier --write

Revert popover changes to scroll height with max value
  src/components/Popover/Popover.tsx
  test/components/Popover/Popover.test.tsx
Due: eslint --fix, prettier --write

0.0.14-rc.6
  package.json
Due: prettier --write

Fixed documentation
  package.json
  stories/0-Get Started/7-With React Window.mdx
  stories/2-Imperative Components/Toast/Toast.stories.tsx
Due: eslint --fix, prettier --write

0.0.14-rc.7
  package.json
Due: prettier --write

Updated exports
  package.json
Due: prettier --write

0.0.14-rc.8
  package.json
Due: prettier --write

Added exceptions to fix lint issues
  .eslintrc.json
  src/components/Input/Dropdown.tsx
  stories/resources/PopoverDemo.tsx
Due: eslint --fix, prettier --write

Fix failing build
  .eslintignore
  .eslintrc.json
  .storybook/main.mjs
  eslint.config.mjs
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

0.0.14
  package.json
Due: prettier --write

Change release type from 'released' to 'published'
  .github/workflows/deploy-storybook.yml
Due: prettier --write

Fix stroybook publish workflows
  .github/workflows/deploy-storybook-manual.yml
  .github/workflows/deploy-storybook.yml
Due: prettier --write

Fix demo
  stories/resources/PopoverDemo.tsx
Due: eslint --fix, prettier --write

Bump react version
  package.json
  yarn.lock
Due: prettier --write

Fixed the lint issue
  package.json
  src/components/Menu/MenuItem.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Fix yarn resolution problem
  yarn.lock
Due: none

fix: correct espree@10.4.0 dependency ranges in yarn.lock
  yarn.lock
Due: none

Updated TS config for Typescript 6
  tsconfig.json
Due: prettier --write

Fix React version mismatch: align react and react-dom to 19.2.8
  CLAUDE.md
  package.json
  yarn.lock
Due: prettier --write

Upgrade Storybook to 10.5.x to fix version mismatch
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write

Fix jest compatibility issue: downgrade to jest 30.2.0
  package.json
  yarn.lock
Due: prettier --write

Fix pre-existing linting issues
  src/components/DragAndDrop/DragItem.tsx
  src/components/Input/Dropdown.tsx
  src/components/Popover/Popover.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Toast/index.ts
  test/components/Toast/Toast.test.tsx
Due: eslint --fix, prettier --write

Fix SWC compatibility
  package.json
Due: prettier --write

Fix Storybook SWC compatibility
  package.json
Due: prettier --write

Fix Storybook SWC resolution
  package.json
  yarn.lock
Due: prettier --write

Fix size-limit dependency version mismatch
  package.json
  yarn.lock
Due: prettier --write

Fix size-limit workflow compatibility with v14
  .github/workflows/size-limit.yml
Due: prettier --write

Use Node 22 for size-limit CI
  .github/workflows/size-limit.yml
Due: prettier --write

Restore PR bundle size comment with Node 22
  .github/workflows/size-limit.yml
Due: prettier --write

Align React dependency versions
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,ts,tsx}
  prettier --write: (any of: *.{js,jsx,mjs,ts,tsx}) or (any of: *.{html,json,md,mdx,yml,yaml})
